body {
  background-color: #282c34;
  color: white;
}

.screen-centered {
  position: fixed;
  left: auto;
  top: 50%;
  z-index: 9999;
}

.card {
  color: white;
}

.card a {
  color: unset;
  font-style: italic;
}